# Terraform local files
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfstate
**/*.tfstate.*
**/*tfplan
# Terraform crash logs
crash.log
crash.*.log

# Terraform variable secrets
*.tfvars
*.tfvars.json

# Kubernetes Secrets
kubernetes/secret.yaml
